USE [master]
GO
/****** Object:  Database [Quanly_BDS_2012]    Script Date: 7/12/2022 8:02:07 PM ******/
CREATE DATABASE [Quanly_BDS_2012]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanly_BDS_2012', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quanly_BDS_2012.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanly_BDS_2012_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Quanly_BDS_2012_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanly_BDS_2012].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanly_BDS_2012]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 7/12/2022 8:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [char](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[mavanphong] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vanphong]    Script Date: 7/12/2022 8:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vanphong](
	[mavp] [char](10) NOT NULL,
	[diadiem] [nvarchar](50) NULL,
	[truongphong] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[mavp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[nhanvien]  WITH CHECK ADD FOREIGN KEY([mavanphong])
REFERENCES [dbo].[vanphong] ([mavp])
GO
USE [master]
GO
